<div class="d-flex justify-content-between flex-wrap bg-white sombra p-2">

    <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-start">
        <button class="btn">Meat</button>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center">
        <button class="btn">Restaurantes</button>
        <button class="btn">Sobre</button>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-end">
        <button class="btn">{{usuario().nome}}</button>
        <button class="btn"></button>
    </div>

</div>