<div [@paginaInicialAnimacao]="paginaInicialAnimacao" class="centro background w-100 h-100">

    <div class="col-lg-4 d-flex flex-column align-items-center background-1 shadow-3 rounded-2 p-4">
        <span class="lead fs-4 font-bold">Bem vindo ao Meat!</span>
        <small>Já possui uma conta ?</small>
        <div class="d-flex align-items-center justify-content-between flex-column btn-group-sm flex-wrap col-lg-8">
            <button class="btn btn-success col-lg-6 my-2" routerLink="/login">Logar</button>
            <button class="btn btn-danger col-lg-6" routerLink="/cadastrar">Cadastrar</button>
        </div>
    </div>

</div>